* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#meni {
  width: 100%;
  min-height: 600px;
  background-image: url(../img/slajder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#meni ul {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(13, 13, 13, 0.9);
  padding-top: 20px;
  position: fixed;
}

#meni a {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}

#meni a:hover {
  color: rgba(230, 230, 230, 0.4);
}

h1 {
  font-family: 'Roboto Mono', monospace;
  color: rgba(13, 13, 13, 0.9);
  position: absolute;
  bottom: 150px;
  left: 100px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.Naslovi {
  font-family: 'Roboto Mono', monospace;
  color: rgba(13, 13, 13, 0.9);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

/* About Me*/
#AboutMe h2 {
  width: 145px;
  margin: 0px auto;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(13, 13, 13, 0.9);
  margin-top: 10px;
}

#Autor {
  width: 80%;
  margin: 0px auto;
  border: 3px solid rgba(13, 13, 13, 0.9);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#tekst {
  float: left;
  padding: 30px;
  width: 40%;
}

#tekst p {
  text-align: justify;
  font-family: 'Roboto Mono', monospace;
  color: rgba(13, 13, 13, 0.9);
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  margin-top: 20px;
}

#slika {
  padding: 30px;
}

#slika img {
  border-radius: 30px;
}

#sredina h2 {
  width: 145px;
  margin: 0px auto;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(13, 13, 13, 0.9);
  margin-top: 10px;
}

/* Skillset */
#Skills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Skills .Skill {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid rgba(13, 13, 13, 0.9);
  background-color: #f2f2f2;
}

#s1 {
  width: 180px;
  height: 180px;
  background: radial-gradient(rgba(61, 61, 41, 0.3), rgba(13, 13, 13, 0.9));
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#s2 {
  width: 180px;
  height: 180px;
  background: radial-gradient(rgba(61, 61, 41, 0.3), rgba(13, 13, 13, 0.9));
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#s3 {
  width: 160px;
  height: 160px;
  background: radial-gradient(rgba(61, 61, 41, 0.3), rgba(13, 13, 13, 0.9));
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#s4 {
  width: 140px;
  height: 140px;
  background: radial-gradient(rgba(61, 61, 41, 0.3), rgba(13, 13, 13, 0.9));
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#s5 {
  width: 28px;
  height: 28px;
  background: radial-gradient(rgba(61, 61, 41, 0.3), rgba(13, 13, 13, 0.9));
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h4 {
  font-size: 20px;
  color: rgba(13, 13, 13, 0.9);
  text-align: center;
}

/* Projects */
#Projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.Project:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.Project h4 {
  font-family: 'Roboto Mono', monospace;
  color: rgba(13, 13, 13, 0.9);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.Project p {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
  color: rgba(13, 13, 13, 0.9);
}

.Project img {
  border-radius: 30px;
}

/* Contact Me */
#CM {
  background-image: url(../img/bcgf.jpg);
}

#CM h2 {
  width: 185px;
  margin: 0px auto;
  padding-bottom: 5px;
  border-bottom: 3px solid #f2f2f2;
  color: #f2f2f2;
}

#form {
  margin: 30px;
}

#form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 340px;
}

#form input {
  font-size: 20px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #f2f2f2;
  border: solid 3px #f2f2f2;
}

#form input:focus {
  color: #f2f2f2;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: rgba(230, 230, 230, 0.4);
}

#form ::-webkit-input-placeholder {
  color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

#form :-ms-input-placeholder {
  color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

#form ::-ms-input-placeholder {
  color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

#form ::placeholder {
  color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

#form .text {
  border-bottom: none;
}

#form #submit {
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#form #submit:hover {
  background-color: rgba(230, 230, 230, 0.4);
}

#form textarea {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 150px;
  resize: none;
  padding: 10px 15px 0px 15px;
  outline: none;
  background: transparent;
  color: rgba(13, 13, 13, 0.9);
  border: solid 3px #f2f2f2;
}

#form textarea:focus {
  color: #f2f2f2;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: rgba(230, 230, 230, 0.4);
}

/* Footer */
#footerG {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info {
  padding: 30px;
}

.info h3 {
  font-family: 'Roboto Mono', monospace;
  color: rgba(13, 13, 13, 0.9);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

li {
  display: block;
  font-family: 'Roboto Mono', monospace;
  color: rgba(13, 13, 13, 0.9);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

li a {
  color: #737373;
}

li a:hover {
  color: rgba(13, 13, 13, 0.9);
}

#footerD {
  width: 100%;
  height: 50px;
  background-color: rgba(13, 13, 13, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footerD p {
  color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  padding-left: 30px;
  padding-top: 15px;
}

#footerD a {
  color: #f2f2f2;
  font-size: 40px;
  padding-right: 30px;
}

#footerD a:hover {
  color: rgba(230, 230, 230, 0.4);
}

/* MediaQuery */
@media screen and (max-width: 1102px) {
  /* About Me */
  #Autor {
    width: 100%;
    border: none;
    background-color: rgba(13, 13, 13, 0.9);
  }
  #tekst {
    padding: 10px;
    width: 83%;
  }
  #tekst p {
    font-family: 'Roboto Mono', monospace;
    color: #f2f2f2;
  }
  #slika {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  #slika img {
    width: 70%;
  }
  /* Projects */
  .Project {
    width: 40%;
  }
  .Project:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  .Project img {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  /* Skills */
  #Skills {
    width: 60%;
    margin: 0px auto;
    padding-top: 30px;
  }
  #Skills .Skill {
    margin-bottom: 50px;
  }
  #form {
    /*Forma*/
  }
  #form input {
    font-size: 15px;
    width: 100%;
  }
  #form ::-webkit-input-placeholder {
    font-size: 15px;
  }
  #form :-ms-input-placeholder {
    font-size: 15px;
  }
  #form ::-ms-input-placeholder {
    font-size: 15px;
  }
  #form ::placeholder {
    font-size: 15px;
  }
  #form textarea {
    width: 100%;
    height: 100px;
  }
}

@media screen and (max-width: 830px) {
  /* Footer */
  .info {
    padding: 10px;
  }
  li {
    font-weight: bold;
    font-size: 15px;
  }
}

@media screen and (max-width: 720px) {
  /* Projects */
  #Projects {
    width: 100%;
    padding-top: 30px;
  }
  .Project {
    display: block;
    margin: 0px auto;
    /* Forma */
  }
  .Project:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .Project img {
    border-radius: 10px;
    width: 100%;
  }
  .Project input {
    font-size: 10px;
  }
  .Project ::-webkit-input-placeholder {
    font-size: 10px;
  }
  .Project :-ms-input-placeholder {
    font-size: 10px;
  }
  .Project ::-ms-input-placeholder {
    font-size: 10px;
  }
  .Project ::placeholder {
    font-size: 10px;
  }
  /* About Me */
  #tekst p {
    font-weight: 300;
    font-size: 15px;
  }
  /* Header */
  #meni {
    min-height: 400px;
  }
  #meni ul {
    height: 30px;
    padding-top: 10px;
  }
  #meni a {
    font-weight: 300;
    font-size: 15px;
  }
  #meni a:hover {
    color: rgba(230, 230, 230, 0.4);
  }
  h1 {
    bottom: 100px;
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  /* Footer */
  #footerG {
    width: 100%;
    display: block;
  }
  .info {
    width: 60%;
    padding: 10px;
    margin: 0px auto;
  }
  li {
    font-weight: 300;
    font-size: 15px;
  }
  /* Projects */
  .Project {
    width: 80%;
    margin: 0PX auto;
  }
  .Project:hover {
    -webkit-transform: none;
            transform: none;
  }
  .Project img {
    border-radius: 10px;
  }
}

@media screen and (max-width: 450px) {
  /* Footer */
  #footerD p {
    font-size: 13px;
    padding-left: 10px;
  }
  #footerD a {
    font-size: 30px;
    padding-right: 10px;
    padding-top: 8px;
  }
  /* Header */
  #meni {
    min-height: 300px;
  }
  h1 {
    left: 50px;
    bottom: 70px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */